# WORLD PORT INDEX

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib import style

# Replace 'your_file.csv' with the actual path to your CSV file

# Load CSV file into a Pandas DataFrame

# 1.	Write a code to load a CSV file into a Pandas DataFrame and display the first and last few rows.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

dataset_path = ('G:\World Port Index\World project\World_Port_Index.csv')
df = pd.read_csv(dataset_path)


df.head()

,FID,INDEX_NO,REGION_NO,PORT_NAME,COUNTRY,LATITUDE,LONGITUDE,LAT_DEG,LAT_MIN,LAT_HEMI,LONG_DEG,LONG_MIN,LONG_HEMI,PUB,CHART,HARBORSIZE,HARBORTYPE,SHELTER,ENTRY_TIDE,ENTRYSWELL
0,1,44730,44360,AYVALIK,TR,39.316667,26.700000,39,19,N,26,42,E,132,54382,V,CN,G,N,N
1,2,44750,44360,IZMIR,TR,38.433333,27.133333,38,26,N,27,8,E,132,54387,L,CN,F,N,Y
2,3,57610,57510,VINH CAM RANH,VN,11.883333,109.166667,11,53,N,109,10,E,161,93446,S,CN,G,N,N
3,4,57620,57510,NHA TRANG,VN,12.250000,109.233333,12,15,N,109,14,E,161,93442,S,OR,F,Y,Y
4,5,57640,57510,QUI NHON,VN,13.766667,109.233333,13,46,N,109,14,E,161,93491,V,CN,F,Y,Y

# Display the first few rows of the DataFrame

In [12]:
print("First Few Rows:")
print(df.head())

First Few Rows:
   FID  INDEX_NO  REGION_NO      PORT_NAME COUNTRY   LATITUDE   LONGITUDE  \
0    1     44730      44360        AYVALIK      TR  39.316667   26.700000
1    2     44750      44360          IZMIR      TR  38.433333   27.133333
2    3     57610      57510  VINH CAM RANH      VN  11.883333  109.166667
3    4     57620      57510      NHA TRANG      VN  12.250000  109.233333
4    5     57640      57510       QUI NHON      VN  13.766667  109.233333

   LAT_DEG  LAT_MIN LAT_HEMI  LONG_DEG  LONG_MIN LONG_HEMI  PUB  CHART  \
0       39       19        N        26        42         E  132  54382
1       38       26        N        27         8         E  132  54387
2       11       53        N       109        10         E  161  93446
3       12       15        N       109        14         E  161  93442
4       13       46        N       109        14         E  161  93491

  HARBORSIZE HARBORTYPE SHELTER ENTRY_TIDE ENTRYSWELL
0          V         CN       G          N          N
1          L         CN       F          N          Y
2          S         CN       G          N          N
3          S         OR       F          Y          Y
4          V         CN       F          Y          Y

# Generate summary statistics for the dataset

In [3]:
df.describe()

,FID,INDEX_NO,REGION_NO,LATITUDE,LONGITUDE,LAT_DEG,LAT_MIN,LONG_DEG,LONG_MIN
count,3669.000000,3669.000000,3669.000000,3669.000000,3669.000000,3669.000000,3669.000000,3669.000000,3669.000000
mean,1835.000000,31745.298174,31367.364132,31.414318,-1.543836,36.354593,29.840283,67.920414,28.963750
std,1059.293397,19171.301320,19255.522210,26.529950,84.645854,18.234745,17.629876,49.867263,17.234227
min,1.000000,70.000000,60.000000,-77.850000,-177.366667,0.000000,0.000000,0.000000,0.000000
25%,918.000000,13800.000000,13310.000000,15.816667,-73.433333,22.000000,14.000000,17.000000,14.000000
50%,1835.000000,31880.000000,31870.000000,38.933333,4.350000,40.000000,30.000000,69.000000,29.000000
75%,2752.000000,48267.000000,48260.000000,50.183333,41.583333,50.000000,45.000000,116.000000,44.000000
max,3669.000000,63130.000000,63060.000000,78.916667,179.366667,78.000000,59.000000,179.000000,59.000000

# Display information about the DataFrame

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3669 entries, 0 to 3668
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FID         3669 non-null   int64
 1   INDEX_NO    3669 non-null   int64
 2   REGION_NO   3669 non-null   int64
 3   PORT_NAME   3669 non-null   object
 4   COUNTRY     3667 non-null   object
 5   LATITUDE    3669 non-null   float64
 6   LONGITUDE   3669 non-null   float64
 7   LAT_DEG     3669 non-null   int64
 8   LAT_MIN     3669 non-null   int64
 9   LAT_HEMI    3669 non-null   object
 10  LONG_DEG    3669 non-null   int64
 11  LONG_MIN    3669 non-null   int64
 12  LONG_HEMI   3669 non-null   object
 13  PUB         3669 non-null   object
 14  CHART       3669 non-null   object
 15  HARBORSIZE  3669 non-null   object
 16  HARBORTYPE  3669 non-null   object
 17  SHELTER     3669 non-null   object
 18  ENTRY_TIDE  3669 non-null   object
 19  ENTRYSWELL  3669 non-null   object
dtypes: float64(2), int64(7), object(11)
memory usage: 573.4+ KB

In [5]:
df[df.isnull().any(axis=1)]

,FID,INDEX_NO,REGION_NO,PORT_NAME,COUNTRY,LATITUDE,LONGITUDE,LAT_DEG,LAT_MIN,LAT_HEMI,LONG_DEG,LONG_MIN,LONG_HEMI,PUB,CHART,HARBORSIZE,HARBORTYPE,SHELTER,ENTRY_TIDE,ENTRYSWELL
2970,2971,46650,46635,LUDERITZ BAY,NaN,-26.65,15.15,26,39,S,15,9,E,123,57408,S,CB,F,,
2971,2972,46640,46635,WALVIS BAY,NaN,-22.95,14.50,22,57,S,14,30,E,123,57381,S,CN,G,N,Y

# Display the last few rows of the DataFrame

In [6]:
print(df.tail())

       FID  INDEX_NO  REGION_NO   PORT_NAME COUNTRY   LATITUDE   LONGITUDE  \
3664  3665     19490      19080        TODD      US  57.466667 -135.050000
3665  3666     19510      19080    HOOD BAY      US  57.400000 -134.500000
3666  3667     19520      19080  HAWK INLET      US  58.116667 -134.750000
3667  3668     19530      19080      FUNTER      US  58.250000 -134.900000
3668  3669     19550      19080      DUPONT      US  58.233333 -134.266667

      LAT_DEG  LAT_MIN LAT_HEMI  LONG_DEG  LONG_MIN LONG_HEMI   PUB  CHART  \
3664       57       28        N       135         3         W  CP08  17338
3665       57       24        N       134        30         W  CP08  17339
3666       58        7        N       134        45         W  CP08  17312
3667       58       15        N       134        54         W  CP08  17316
3668       58       14        N       134        16         W  CP08  17315

     HARBORSIZE HARBORTYPE SHELTER ENTRY_TIDE ENTRYSWELL
3664          V         CN       F
3665          V         CN       G          N          N
3666          V         CN       G          Y          N
3667          V         CN       G          N          N
3668          V         CN       F

In [8]:
print("DataFrame Shape:")
print(df.shape)

DataFrame Shape:
(3669, 20)

# Display the summary statistics

In [10]:
summary_statistics = df.describe()

In [11]:
print("\nSummary Statistics:")
print(summary_statistics)

Summary Statistics:
               FID      INDEX_NO     REGION_NO     LATITUDE    LONGITUDE  \
count  3669.000000   3669.000000   3669.000000  3669.000000  3669.000000
mean   1835.000000  31745.298174  31367.364132    31.414318    -1.543836
std    1059.293397  19171.301320  19255.522210    26.529950    84.645854
min       1.000000     70.000000     60.000000   -77.850000  -177.366667
25%     918.000000  13800.000000  13310.000000    15.816667   -73.433333
50%    1835.000000  31880.000000  31870.000000    38.933333     4.350000
75%    2752.000000  48267.000000  48260.000000    50.183333    41.583333
max    3669.000000  63130.000000  63060.000000    78.916667   179.366667

           LAT_DEG      LAT_MIN     LONG_DEG     LONG_MIN
count  3669.000000  3669.000000  3669.000000  3669.000000
mean     36.354593    29.840283    67.920414    28.963750
std      18.234745    17.629876    49.867263    17.234227
min       0.000000     0.000000     0.000000     0.000000
25%      22.000000    14.000000    17.000000    14.000000
50%      40.000000    30.000000    69.000000    29.000000
75%      50.000000    45.000000   116.000000    44.000000
max      78.000000    59.000000   179.000000    59.000000

In [14]:
missing = df.isnull().sum
print(missing)

<bound method NDFrame._add_numeric_operations.<locals>.sum of         FID  INDEX_NO  REGION_NO  PORT_NAME  COUNTRY  LATITUDE  LONGITUDE  \
0     False     False      False      False    False     False      False
1     False     False      False      False    False     False      False
2     False     False      False      False    False     False      False
3     False     False      False      False    False     False      False
4     False     False      False      False    False     False      False
...     ...       ...        ...        ...      ...       ...        ...
3664  False     False      False      False    False     False      False
3665  False     False      False      False    False     False      False
3666  False     False      False      False    False     False      False
3667  False     False      False      False    False     False      False
3668  False     False      False      False    False     False      False

      LAT_DEG  LAT_MIN  LAT_HEMI  LONG_DEG  LONG_MIN  LONG_HEMI    PUB  CHART  \
0       False    False     False     False     False      False  False  False
1       False    False     False     False     False      False  False  False
2       False    False     False     False     False      False  False  False
3       False    False     False     False     False      False  False  False
4       False    False     False     False     False      False  False  False
...       ...      ...       ...       ...       ...        ...    ...    ...
3664    False    False     False     False     False      False  False  False
3665    False    False     False     False     False      False  False  False
3666    False    False     False     False     False      False  False  False
3667    False    False     False     False     False      False  False  False
3668    False    False     False     False     False      False  False  False

      HARBORSIZE  HARBORTYPE  SHELTER  ENTRY_TIDE  ENTRYSWELL
0          False       False    False       False       False
1          False       False    False       False       False
2          False       False    False       False       False
3          False       False    False       False       False
4          False       False    False       False       False
...          ...         ...      ...         ...         ...
3664       False       False    False       False       False
3665       False       False    False       False       False
3666       False       False    False       False       False
3667       False       False    False       False       False
3668       False       False    False       False       False

[3669 rows x 20 columns]>

In [18]:
print("\nColumn Names:")
print(df.columns)

Column Names:
Index(['FID', 'INDEX_NO', 'REGION_NO', 'PORT_NAME', 'COUNTRY', 'LATITUDE',
       'LONGITUDE', 'LAT_DEG', 'LAT_MIN', 'LAT_HEMI', 'LONG_DEG', 'LONG_MIN',
       'LONG_HEMI', 'PUB', 'CHART', 'HARBORSIZE', 'HARBORTYPE', 'SHELTER',
       'ENTRY_TIDE', 'ENTRYSWELL'],
      dtype='object')

# 2.	Write a code in Python to determine the shape (number of rows and columns) of a DataFrame and generate summary statistics for the dataset.

In [32]:
import pandas as pd

data = {
    'FID': [1, 2, 3, 4, 5],
    'PORT_NAME': ['AYVALIK', 'IZMIR', 'VINH CAM RANH', 'NHA TRANG', 'QUI NHON'],
    'LATITUDE': [39.316667, 38.433333, 11.883333, 12.25, 13.766667],
    'LONGITUDE': [26.7, 27.133333, 109.166667, 109.233333, 109.233333],
}

df = pd.DataFrame(data)

print("DataFrame Shape:")
print(df.shape)

summary_statistics = df.describe()

print("\nSummary Statistics:")
print(summary_statistics)

DataFrame Shape:
(5, 4)

Summary Statistics:
            FID   LATITUDE   LONGITUDE
count  5.000000   5.000000    5.000000
mean   3.000000  23.130000   76.293333
std    1.581139  14.393871   45.074792
min    1.000000  11.883333   26.700000
25%    2.000000  12.250000   27.133333
50%    3.000000  13.766667  109.166667
75%    4.000000  38.433333  109.233333
max    5.000000  39.316667  109.233333

# 3.	Write a code to determine the number of unique elements in a specific column of a pandas DataFrame in Python.

In [30]:
import pandas as pd

data = {
    'FID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'PORT_NAME': ['AYVALIK', 'IZMIR', 'VINH CAM RANH', 'NHA TRANG', 'QUI NHON', 'DA NANG', 'HAI PHONG', 'HON GAI', 'YANDINA', 'TERN ISLAND', 'JOHNSTON ATOLL', 'MIDWAY ISLAND'],
}

df = pd.DataFrame(data)

column_name = 'PORT_NAME'

unique_elements_count = df[column_name].nunique()

print(f"Number of unique elements in '{column_name}': {unique_elements_count}")

Number of unique elements in 'PORT_NAME': 12

# 4.	Write a code snippet to check missing values in the dataset.

In [24]:
missing_percentage = (df.isnull().mean() * 100).round(2)

print("Percentage of Missing Values:")
print(missing_percentage)

Percentage of Missing Values:
FID           0.00
INDEX_NO      0.00
REGION_NO     0.00
PORT_NAME     0.00
COUNTRY       0.05
LATITUDE      0.00
LONGITUDE     0.00
LAT_DEG       0.00
LAT_MIN       0.00
LAT_HEMI      0.00
LONG_DEG      0.00
LONG_MIN      0.00
LONG_HEMI     0.00
PUB           0.00
CHART         0.00
HARBORSIZE    0.00
HARBORTYPE    0.00
SHELTER       0.00
ENTRY_TIDE    0.00
ENTRYSWELL    0.00
dtype: float64

# 5.	Write a Python code snippet to remove NaN (null) values from a pandas DataFrame

In [25]:
df_cleaned_columns = df.dropna(axis=1)

print("DataFrame After Removing Columns with NaN Values:")
print(df_cleaned_columns.head())

DataFrame After Removing Columns with NaN Values:
   FID  INDEX_NO  REGION_NO      PORT_NAME   LATITUDE   LONGITUDE  LAT_DEG  \
0    1     44730      44360        AYVALIK  39.316667   26.700000       39
1    2     44750      44360          IZMIR  38.433333   27.133333       38
2    3     57610      57510  VINH CAM RANH  11.883333  109.166667       11
3    4     57620      57510      NHA TRANG  12.250000  109.233333       12
4    5     57640      57510       QUI NHON  13.766667  109.233333       13

   LAT_MIN LAT_HEMI  LONG_DEG  LONG_MIN LONG_HEMI  PUB  CHART HARBORSIZE  \
0       19        N        26        42         E  132  54382          V
1       26        N        27         8         E  132  54387          L
2       53        N       109        10         E  161  93446          S
3       15        N       109        14         E  161  93442          S
4       46        N       109        14         E  161  93491          V

  HARBORTYPE SHELTER ENTRY_TIDE ENTRYSWELL
0         CN       G          N          N
1         CN       F          N          Y
2         CN       G          N          N
3         OR       F          Y          Y
4         CN       F          Y          Y

# 6.	Write a Python code snippet to fill missing values using different methods.

In [28]:
df_filled_forward_limit = df.ffill(limit=1)

print("\nDataFrame After Forward Filling with Limit:")
print(df_filled_forward_limit.head())

DataFrame After Forward Filling with Limit:
   FID  INDEX_NO  REGION_NO      PORT_NAME COUNTRY   LATITUDE   LONGITUDE  \
0    1     44730      44360        AYVALIK      TR  39.316667   26.700000
1    2     44750      44360          IZMIR      TR  38.433333   27.133333
2    3     57610      57510  VINH CAM RANH      VN  11.883333  109.166667
3    4     57620      57510      NHA TRANG      VN  12.250000  109.233333
4    5     57640      57510       QUI NHON      VN  13.766667  109.233333

   LAT_DEG  LAT_MIN LAT_HEMI  LONG_DEG  LONG_MIN LONG_HEMI  PUB  CHART  \
0       39       19        N        26        42         E  132  54382
1       38       26        N        27         8         E  132  54387
2       11       53        N       109        10         E  161  93446
3       12       15        N       109        14         E  161  93442
4       13       46        N       109        14         E  161  93491

  HARBORSIZE HARBORTYPE SHELTER ENTRY_TIDE ENTRYSWELL
0          V         CN       G          N          N
1          L         CN       F          N          Y
2          S         CN       G          N          N
3          S         OR       F          Y          Y
4          V         CN       F          Y          Y

# 7.	Write a Python code snippet to fill missing values for particular column in a pandas DataFrame using imputation methods such as mean and median.

In [29]:
import pandas as pd

# Your DataFrame
data = {
    'FID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'LATITUDE': [39.316667, 38.433333, 11.883333, 12.25, 13.766667, 16.1, 20.916667, 20.95, -9.083333, 23.866667, 16.75, 28.183333],
    'LONGITUDE': [26.7, 27.133333, 109.166667, 109.233333, 109.233333, 108.216667, 106.683333, 107.066667, 159.216667, -166.283333, -169.516667, -177.366667],
}

df = pd.DataFrame(data)

columns_to_process = ['LATITUDE', 'LONGITUDE']

mean_values = df[columns_to_process].mean()
median_values = df[columns_to_process].median()

print("Mean Values:")
print(mean_values)

print("\nMedian Values:")
print(median_values)

Mean Values:
LATITUDE     19.444444
LONGITUDE    29.123611
dtype: float64

Median Values:
LATITUDE      18.833334
LONGITUDE    106.875000
dtype: float64